* {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial, sans-serif;
    box-sizing: border-box;
}

header {
    margin: auto;
    padding-top: 10px;
    background-color: #1f2937;
    height: 70vh;
}

#header_align {
    max-width: 1000px;
    margin: auto;
}

header span {
    font-size: 24px;
    color: #f9faf8
}
#header_nav {
    display: flex;
    gap: 30px;
}

#header_nav > :first-child {
    margin-right: auto;
}

li {
    list-style: none;
}

#title_container h1 {
    color:#f9faf8;
    font-size: 48px;
    font-weight: 900;
}

#header_nav a {
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border-radius: 3px;
    color:#e5e7eb;
}

#header_nav a:hover {
    background-color: #2e3d52;
}
#header_content {
    display: flex;
    gap: 40px;
    margin-top: 10%;
}

#title_container {
    width: 480px;
}

#title_container p {
    font-size: 18px;
    color: #e5e7eb;
    text-align: justify;
}

#title_container button {
    margin-top: 5px;
    width: 120px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    background-color: #3882f6;
    padding: 10px;
    border-radius: 10px;
    text-shadow: 1px 1px 1px black;
}

#header_image {
    background-color: #6D747D;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_image p {
    color: #F4F4F5;
}

#first_section {
    max-width: 1000px;
    height: 50vh;
    margin: auto;
    text-align: center;
}
#first_section h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-top: 25px;
}

#flex_images {
    display: flex;
    height: 250px;
    margin-top: 30px;
    justify-content: space-evenly;
}

.container_box {
    width: 150px;
}

.image_box {
    width: 150px;
    height: 150px;
    outline: 4px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container_box span {
    color: #5f656c;
}

#second_section {
    height: 50vh;
    background-color: #e5e7eb;
}

#quote_section {
    width: 55%;
    margin: auto;
}

#quote_section p {
    text-align: right;
}

#second_section blockquote {
    font-size: 36px;
    color: #1f2937;
    text-align: justify;
    padding-top: 90px;
}

#third_section {
    height: 40vh;
}

#sign_section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    height: 150px;
    margin: auto;
    background-color: #3882f6;
    padding: 30px;
    margin-top: 100px;
    border-radius: 8px;
    color: #f9faf8;
}

#sign_section p {
    color: #C5D4ED;
}

#sign_section button {
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: 900;
    width: 120px;
    height: 40px;
}